In [125]:
import matplotlib.pyplot as plt
import pandas as pd

from random import uniform, randint, randrange, sample

NUMPY DATA CREATION

In [126]:
# UNIFORM - getting a uniform random number between 10 and 20
uniform(10,20)

18.87723883455048

In [127]:
# # can be used to create fake coordinates like this 
# x = uniform(-180, 180)
# y = uniform(-90, 90)
# x,y

In [153]:
def create_coord():
    x, y = uniform(-180, 180), uniform(-90, 90)     
    return x, y
    
geom = [create_coord() for xy in range(10)]
geom

[(81.08862221578141, 48.50138619580548),
 (-131.57904542899945, -16.254829326949647),
 (6.3084308508452125, -45.47951417874052),
 (17.832573347147758, 38.630683124463104),
 (-170.35540413280734, -83.21452904103967),
 (-37.817169503606124, 3.135819126072022),
 (-12.224995102503613, 88.37632338569662),
 (-161.23643270144234, 64.23851018100493),
 (51.98738788705208, 39.0017077571745),
 (-87.6106165892404, 66.95704169920995)]

In [154]:
cities = ("A", "B", "C", "D", "E", "F", "G", "H", "I", "J")
cities

('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J')

In [155]:
population = sample(range(30000, 120000), 10)
population

[44548, 96501, 70587, 87757, 69449, 57565, 108617, 90662, 73915, 57805]

In [156]:
citysize = ["large" if x >= 70000 else "medium" for x in population]
citysize

['medium',
 'large',
 'large',
 'large',
 'medium',
 'medium',
 'large',
 'large',
 'large',
 'medium']

In [157]:
df = pd.DataFrame({
    "City":cities, 
    "Pop":population, 
    "Citysize":citysize,
    "Latitude": [geom[0] for i in geom],
    "Longitude": [geom[1] for i in geom]
})


df.head(2)

(-131.57904542899945, -16.254829326949647)

In [158]:
df

,City,Pop,Citysize,Latitude,Longitude
0,A,85817,large,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"
1,B,69495,medium,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"
2,C,37841,medium,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"
3,D,85706,large,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"
4,E,56471,medium,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"
5,F,71885,large,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"
6,G,106119,large,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"
7,H,105256,large,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"
8,I,30912,medium,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"
9,J,51059,medium,"(46.678777419951615, 12.103658046869043)","(-100.25404920236322, 0.5816799340657042)"

In [159]:
type(df)

pandas.core.frame.DataFrame